body {
	/* font: 400 15px Lato, sans-serif; */
	line-height: 1.8;
	color: #818181;
	font-family: "Open Sans", sans-serif !important;
  }
  
  /* .jumbotron {
	font-family: Montserrat, sans-serif;
  }
  
  .navbar {
	font-family: Montserrat, sans-serif;
  } */
 
.navbar {
  margin-bottom: 0;
  /* background-color: #000000; */
  z-index: 9999;
  border: 0; 
  width: 100% !important;
  height: 12% !important;
  /* font-size: 12px !important; */
  line-height: 1.42857143 !important;
}

.navbar li a, .navbar .navbar-brand {
  color: #ffa200;
  height: 100%;
}

.navbar-nav .m a:hover, .navbar-nav .m.active a {
  color: #000000 ;
  background-color: #fff ;
  border-bottom: 3px solid #ffa200;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
.navbar .navbar-header .navbar-brand .anh_menu {
	width: 100%;
	height: 100%; 
	margin-left: 10px;
	/* border-radius: 40%; */
	/* margin-top: -11px; */
}
.navbar .navbar-header .navbar-toggle {
	background: #2782fe; 
	margin-top: 15px;
}
.navbar .navbar-header .navbar-toggle span{
	background: white;
}
.navbar .collapse {
	padding-top: 5px;
}
.navbar .collapse .nav{
	padding-right: 5px;
}
.navbar .collapse .nav #nav {
	margin-right: 10px; 
	float: left; 
	padding-top: 13px;
}
.navbar .collapse  #nav .nav1 {
	color: black;;
	background: none; 
	border: none; 
	text-align: left;
	
}
.navbar .collapse .nav #nav .nav1 a {
	color: black;
	text-decoration: none;
}
.navbar .collapse .nav #nav .nav2 {
	background: #fafafa; 
	color: rgb(0, 0, 0); 
	border: none !important; 
	text-align: left; 
	border-left: 2px solid #000000 !important; 
	width: 5%;
}
.navbar .collapse.nav #nav .nav2 i{
	color: black; 
	margin-right: 10px;
}
.navbar .collapse .nav #nav .nav3 {
	background: #fafafa; 
	color: rgb(0, 0, 0) !important; 
	border: none; 
	text-align: left; 
	width: 5%;
}
.navbar .collapse .nav #nav .nav3 i{
	color: black; 
	margin-right: 20px;
}
.navbar .collapse .nav #nav .nav4 {
	background: #e0dfdf; 
	/* background: linear-gradient(to right,#513fff,#64caff); */
	font-size: 15px; 
	margin-top: -1px; 
	/* border-radius: 10%;  */
	border: none !important;
}
.navbar .collapse .nav #nav .nav4:hover{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navbar .collapse.nav #nav .nav4 i{
	text-decoration: none; 
}


/*menu con*/
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu .dropdown-menu {
    left: 100%;
    margin-top: -1px;
	/* border:  4px solid black; */

}
.dropdown-submenu:hover > .dropdown-menu {
    display:  block;
}



/* tra cuu */
#tracuu .container .row form{
	margin-left: 0%;
}
#tracuu .container .row form #bn {
	margin: 0 auto;
}


.than .anhML {
	width: 20%;
	
}
.than .than1, .than .than2 {
	margin: 0 4%;
}
.than .than1 p{
	font-size: 140%;
}
.than .than1 .y{
	margin-left: 3%;
}
.than .than1 p.y i{
	color: blue;
}

.than .than2 .tde {
	width: 100%;
	height: 70px;
	padding: 1px 10px;
	margin-bottom: 10px;
	background: linear-gradient(to right,#513fff,#64caff);
}
.than .than2 .tde:first-child {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.than .than2 .ndung{
	margin: 0px 4%;
}

.than .than2 .ndung .muc:hover{
	box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.than .than2 .ndung .muc {
	/* border: 2px solid rgb(190, 190, 190); */
	margin-right: 50px;
	margin-bottom: 20px;
	border-bottom: 2px solid rgb(190, 190, 190);
}
.than .than2 .ndung .muc .ct{
	color: rgb(150, 150, 150);
}


/* footer */
#footer {
	background-color: #e8e8e8;
	width: 100%;
	/* min-height: 400px; */
}
#footer #t {
	min-height: 250px;
}
/* #footer #t .std {
	min-width: 15%; 
	height: auto; 
	float: left;
} */
#footer #t ul li {
	list-style: none;
	margin-left: -30px;
}
#footer #t ul li a{
	color: rgb(148, 145, 145);
	text-decoration: none;
}
#footer #t ul li a:hover{
	color: #ffae23;
	margin-left: 5px;
}

/* #footer #t .ntd {
	min-width: 20%; 
	height: auto; 
	float: left;
}
#footer #t .khv {
	min-width: 25%; 
	height: auto; 
	float: left;
}
#footer #t .nn {
	min-width: 20%; 
	height: auto; 
	float: left;
}
#footer #t .ud_cn{
	width: 20%; 
	height: auto; 
	float: left;
} */
#footer #t .ud_cn .apps {
	width: 40%; 
	float: left; 
	border-radius: 9%;
}
#footer #t .ud_cn .ch {
	width: 40%; 
	float: left; 
	margin-left: 5%; 
	border-radius: 9%;
}
#footer #t .ud_cn .bct {
	width: 60%; 
	float: left; 
	cursor: pointer;
}
#footer .GT {
	min-width: 100%; 
	height: auto; 
	clear: left;
}
#footer .end {
	min-width: 100%; 
	min-height: 60px;
}
#footer .end .icon_logo {
	float: left;
}
#footer .end .icon_logo img {
	width: 30%;
	float: left;
}
#footer .end .ul_li {
	width: 70%; 
	height: 60px;
	float: left; 
	text-align: right;
}

#footer .end .li {
	list-style: none;
	float: left;
	text-decoration: none;
	direction: block;
	line-height: 20px;
	padding: 0px 10px 0px 10px;
}
