body {
	/* font: 400 15px Lato, sans-serif; */
	line-height: 1.8;
	color: #818181;
	font-family: "Open Sans", sans-serif !important;
}
  
  /* .jumbotron {
	font-family: Montserrat, sans-serif;
  }
  
  .navbar {
	font-family: Montserrat, sans-serif;
  } */

.navbar {
  margin-bottom: 0;
  /* background-color: #000000; */
  z-index: 9999;
  border: 0; 
  width: 100% !important;
  height: 12% !important;
  /* font-size: 12px !important; */
  line-height: 1.42857143 !important;
}

.navbar li a, .navbar .navbar-brand {
  color: #ffa200;
  height: 100%;
}

.navbar-nav .m a:hover, .navbar-nav .m.active a {
  color: #000000 ;
  background-color: #fff ;
  border-bottom: 3px solid #ffa200;
}

.navbar-default .navbar-toggle {
  border-color: transparent;
  color: #fff !important;
}
.navbar .navbar-header .navbar-brand .anh_menu {
	width: 100%;
	height: 100%; 
	margin-left: 10px;
	/* border-radius: 40%; */
	/* margin-top: -11px; */
} 
.navbar .navbar-header .navbar-toggle {
	background: #2782fe; 
	margin-top: 15px;
}
.navbar .navbar-header .navbar-toggle span{
	background: white;
}
.navbar .collapse {
	padding-top: 5px;
}
.navbar .collapse .nav{
	padding-right: 5px;
}
.navbar .collapse .nav #nav {
	margin-right: 10px; 
	float: left; 
	padding-top: 13px;
}
.navbar .collapse  #nav .nav1 {
	color: black;;
	background: #fafafa; 
	border: none; 
	text-align: left;
}
.navbar .collapse .nav #nav .nav1 a {
	color: black;
	text-decoration: none;
}
.navbar .collapse .nav #nav .nav2 {
	background: #fafafa; 
	color: rgb(0, 0, 0); 
	border: none !important; 
	text-align: left; 
	border-left: 2px solid #000000 !important; 
	width: 5%;
}
.navbar .collapse.nav #nav .nav2 i{
	color: black; 
	margin-right: 10px;
}
.navbar .collapse .nav #nav .nav3 {
	background: #fafafa; 
	color: rgb(0, 0, 0) !important; 
	border: none; 
	text-align: left; 
	width: 5%;
}
.navbar .collapse .nav #nav .nav3 i{
	color: black; 
	margin-right: 20px;
}
.navbar .collapse .nav #nav .nav4 {
	background: #e0dfdf; 
	/* background: linear-gradient(to right,#513fff,#64caff); */
	font-size: 15px; 
	margin-top: -1px; 
	/* border-radius: 10%;  */
	border: none !important;
}
.navbar .collapse .nav #nav .nav4 a{
	text-decoration: none;
}
.navbar .collapse .nav #nav .nav4:hover{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.navbar .collapse.nav #nav .nav4 i{
	text-decoration: none; 
}


#banner {
	margin-top: 20px;
}

#banner #slide .item .anh_bn {
	width: 100%;
	max-height: 500px;
	/* z-index: 1; */
}
#banner #slide .item {
	width: 100%;
	max-height: 500px;
	/* z-index: 1; */
}
/* #banner #timkiem #tieude1 {
	color: #cccccc;
	width: 60%;
	position: absolute;
	margin-top: 2%;
	margin-left: 20%;
	z-index: 2;
	border: 7px solid rgb(93, 172, 251); 
	height: 7%
} */
/* #banner #timkiem #tieude1 .text input{
	width: 100%; 
	height: 100%; 
	color: black;
}
#banner #timkiem #tieude1 .bton {
	width: 10%;
}
#banner #timkiem #tieude1 .bton button{
	width: 101%; 
	height: 100%; 
	background: rgb(93, 172, 251); 
	border: none;
}
#banner #timkiem #tieude1 .bton button i{
	color: black;
} */

/* @import url("https://fonts.googleapis.com/css?family=Inconsolata:700"); */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: #252525;
} */




#banner #timkiem .container {
  position: absolute;
  margin: auto;
  top: -55%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  /* height: 0%; */
}
#banner #timkiem .container .search {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 60px;
  background: rgb(224, 249, 255);
  /* background: linear-gradient(to right,#1900ff,#90d6fc); */
  border-radius: 50%;
  transition: all 2s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
  
}
#banner #timkiem .container .search:hover {
  cursor: pointer;
  
}
#banner #timkiem .container .search::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: rgb(0, 17, 255);
  transform: rotate(45deg);
  transition: all 1s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#banner #timkiem .container .search::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 3px solid rgb(3, 175, 255);
  transition: all 1s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#banner #timkiem .container input {
	font-family: "Inconsolata", monospace;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 4%;
	outline: none;
	border: none;
	background: rgb(224, 249, 255);
	/* background: linear-gradient(to right,#533fff,#90d6fc); */
	color: rgb(0, 0, 0);
	/* text-shadow: 0 0 10px rgb(0, 0, 0); */
	padding: 0 80px 0 20px;
	border-radius: 30px;
	box-shadow: 0 0 25px 0 rgb(0, 0, 0), 0 20px 25px 0 rgba(0, 0, 0, 0.2);
	transition: all 1s;
	opacity: 0;
	z-index: 5;
	font-weight: bolder;
	letter-spacing: 0.1em;
}
#banner #timkiem .container input:hover {
  cursor: pointer;
}
#banner #timkiem .container input:focus {
  width: 100%;
  opacity: 1;
  cursor: text;
}
#banner #timkiem .container input:focus ~ .search {
  right: -100%;
  background: #151515;
  z-index: 6;
}
#banner #timkiem .container input:focus ~ .search::before {
  top: 0;
  left: 0;
  width: 25px;
}
#banner #timkiem .container input:focus ~ .search::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
#banner #timkiem .container input::placeholder {
  color: rgb(17, 0, 255);
  opacity: 0.5;
  font-weight: bolder;
} 
 
/* nha tuyen dung */
/* Add an orange color to all icons and set the font-size */
 #tuyen_dung .row img {
 	width: 20%;
 }
 #tuyen_dung .row a{
	 color: #000000;
	 text-decoration: none;
 }
 #tuyen_dung .row a:hover{
	 color: #ffae23;
 }

/* .logo {
  color: #f4511e;
  font-size: 200px;
} */
/* vieclam */


/* khu vuc */
#khuvuc a #kv:hover {
	background-size: 110% !important;
	box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* tra cuu */
#tracuu .container .row form{
	margin-left: 0%;
}
#tracuu .container .row form #bn {
	margin: 0 auto;
}
#tracuu .container .row .col1 {
	height: 85px; 
	width: 130px;
}
#tracuu .container .row .col2 {
	height: 45px; 
	width: 130px;
}
#tracuu .container .row a button {
	height: 45px;
	width: 200px;
	
}

#tuvan .row .thumbnail .td{
	text-decoration: none;
	color: black;
}
#tuvan .row .thumbnail a:hover{
	color: rgb(255, 208, 0);
}

/* footer */
#footer {
	background-color: #e8e8e8;
	width: 100%;
	/* min-height: 400px; */
}
#footer #t {
	min-height: 250px;
}
/* #footer #t .std {
	min-width: 15%; 
	height: auto; 
	float: left;
} */
#footer #t ul li {
	list-style: none;
	margin-left: -30px;
}
#footer #t ul li a{
	color: rgb(148, 145, 145);
	text-decoration: none;
}
#footer #t ul li a:hover{
	color: #ffae23;
	margin-left: 5px;
}

/* #footer #t .ntd {
	min-width: 20%; 
	height: auto; 
	float: left;
}
#footer #t .khv {
	min-width: 25%; 
	height: auto; 
	float: left;
}
#footer #t .nn {
	min-width: 20%; 
	height: auto; 
	float: left;
}
#footer #t .ud_cn{
	width: 20%; 
	height: auto; 
	float: left;
} */
#footer #t .ud_cn .apps {
	width: 40%; 
	float: left; 
	border-radius: 9%;
}
#footer #t .ud_cn .ch {
	width: 40%; 
	float: left; 
	margin-left: 5%; 
	border-radius: 9%;
}
#footer #t .ud_cn .bct {
	width: 60%; 
	float: left; 
	cursor: pointer;
}
#footer .GT {
	min-width: 100%; 
	height: auto; 
	clear: left;
}
#footer .end {
	min-width: 100%; 
	min-height: 60px;
}
#footer .end .icon_logo {
	float: left;
}
#footer .end .icon_logo img {
	width: 30%;
	float: left;
}
#footer .end .ul_li {
	width: 70%; 
	height: 60px;
	float: left; 
	text-align: right;
}

#footer .end .li {
	list-style: none;
	float: left;
	text-decoration: none;
	direction: block;
	line-height: 20px;
	padding: 0px 10px 0px 10px;
}

.slideanim {visibility:hidden;}
.slide {
  /* The name of the animation */
  animation-name: slide;
  -webkit-animation-name: slide;
  /* The duration of the animation */
  animation-duration: 1s;
  -webkit-animation-duration: 1s;
  /* Make the element visible */
  visibility: visible;
}

/* Go from 0% to 100% opacity (see-through) and specify the percentage from when to slide in the element along the Y-axis */
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(70%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes slide {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(70%);
  }
}
@media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }
  }
@media screen and (max-width: 480px) {
    .logo {
      font-size: 150px;
    }
}


