.u-section-1 {
  background-image: url("images/PA7BIF1x.jpg");
  background-position: 50% 50%;
  min-height: 607px;
}

.u-section-1 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 607px;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 36px;
  font-size: 1.5rem;
  font-weight: 400;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-1 .u-text-2 {
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 0;
}

.u-section-1 .u-text-3 {
  background-image: none;
  animation-duration: 1000ms;
  margin: 24px 363px 0 0;
}

.u-section-1 .u-image-1 {
  min-height: 607px;
  background-image: url("images/viec-lam-ngoai-gio-tai-nha7.jpg");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 {
    min-height: 413px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 501px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 88px;
  }

  .u-section-1 .u-text-3 {
    margin-right: 270px;
  }

  .u-section-1 .u-image-1 {
    min-height: 501px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 300px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.25rem;
    margin-top: 0;
  }

  .u-section-1 .u-text-3 {
    margin-right: 191px;
  }

  .u-section-1 .u-image-1 {
    min-height: 360px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 516px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 540px) / 2) + 540px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 414px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-right: 50px;
    padding-left: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 323px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: calc(((100% - 340px) / 2) + 340px);
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 430px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-3 {
    margin-right: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 340px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 914px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 3rem;
  width: 791px;
  animation-duration: 1000ms;
  margin: 98px auto 0;
}

.u-section-2 .u-list-1 {
  min-height: 680px;
  grid-template-rows: auto auto;
  grid-auto-rows: 100%;
  margin: 24px auto 60px 0;
}

.u-section-2 .u-repeater-1 {
  grid-auto-columns: calc(33.3333% - 6.66667px);
  grid-template-columns: calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px) calc(33.3333% - 6.66667px);
  grid-auto-rows: calc(50% - 5px);
  grid-gap: 10px 10px;
}

.u-section-2 .u-list-item-1 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-2 {
  animation-duration: 1000ms;
  font-size: 15.625rem;
  font-weight: 900;
  background-image: none;
  margin: 38px auto 0;
}

.u-section-2 .u-text-3 {
  animation-duration: 1000ms;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-image: none;
  margin: -213px auto 0;
}

.u-section-2 .u-text-4 {
  animation-duration: 1000ms;
  margin: 40px 0 0;
}

.u-section-2 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  animation-duration: 1000ms;
  font-size: 15.625rem;
  font-weight: 900;
  background-image: none;
  margin: 38px auto 0;
}

.u-section-2 .u-text-6 {
  animation-duration: 1000ms;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-image: none;
  margin: -213px auto 0;
}

.u-section-2 .u-text-7 {
  animation-duration: 1000ms;
  margin: 40px 0 0;
}

.u-section-2 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-8 {
  animation-duration: 1000ms;
  font-size: 15.625rem;
  font-weight: 900;
  background-image: none;
  margin: 38px auto 0;
}

.u-section-2 .u-text-9 {
  animation-duration: 1000ms;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-image: none;
  margin: -213px auto 0;
}

.u-section-2 .u-text-10 {
  animation-duration: 1000ms;
  margin: 40px 0 0;
}

.u-section-2 .u-list-item-4 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-11 {
  animation-duration: 1000ms;
  font-size: 15.625rem;
  font-weight: 900;
  background-image: none;
  margin: 38px auto 0;
}

.u-section-2 .u-text-12 {
  animation-duration: 1000ms;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-image: none;
  margin: -213px auto 0;
}

.u-section-2 .u-text-13 {
  animation-duration: 1000ms;
  margin: 40px 0 0;
}

.u-section-2 .u-list-item-5 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-14 {
  animation-duration: 1000ms;
  font-size: 15.625rem;
  font-weight: 900;
  background-image: none;
  margin: 38px auto 0;
}

.u-section-2 .u-text-15 {
  animation-duration: 1000ms;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-image: none;
  margin: -213px auto 0;
}

.u-section-2 .u-text-16 {
  animation-duration: 1000ms;
  margin: 40px 0 0;
}

.u-section-2 .u-list-item-6 {
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-17 {
  animation-duration: 1000ms;
  font-size: 15.625rem;
  font-weight: 900;
  background-image: none;
  margin: 38px auto 0;
}

.u-section-2 .u-text-18 {
  animation-duration: 1000ms;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-image: none;
  margin: -213px auto 0;
}

.u-section-2 .u-text-19 {
  animation-duration: 1000ms;
  margin: 40px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 785px;
  }

  .u-section-2 .u-list-1 {
    min-height: 561px;
    height: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-3 {
    font-weight: normal;
  }

  .u-section-2 .u-text-6 {
    font-weight: normal;
  }

  .u-section-2 .u-text-9 {
    font-weight: normal;
  }

  .u-section-2 .u-text-12 {
    font-weight: normal;
  }

  .u-section-2 .u-text-15 {
    font-weight: normal;
  }

  .u-section-2 .u-text-18 {
    font-weight: normal;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1190px;
  }

  .u-section-2 .u-text-1 {
    width: 565px;
  }

  .u-section-2 .u-list-1 {
    min-height: 966px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: calc(50% - 5px);
    grid-template-columns: calc(50% - 5px) calc(50% - 5px);
    grid-auto-rows: calc(33.33% - 6.66667px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2331px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 57px;
    margin-left: 40px;
    margin-right: 40px;
    width: 540px;
  }

  .u-section-2 .u-list-1 {
    min-height: 2027px;
    margin-top: 87px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
    grid-template-columns: 100%;
    grid-auto-rows: calc(16.66% - 8.33333px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1609px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 38px;
    margin-left: 0;
    margin-right: 0;
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    min-height: 1321px;
    margin-top: 108px;
    margin-bottom: 38px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-rows: calc(16.66% - 8.333333333333334px);
  }

  .u-section-2 .u-text-2 {
    font-size: 6rem;
    width: auto;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: -95px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 10px;
  }

  .u-section-2 .u-text-5 {
    font-size: 6rem;
    width: auto;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: -95px;
  }

  .u-section-2 .u-text-7 {
    margin-top: 10px;
  }

  .u-section-2 .u-text-8 {
    font-size: 6rem;
    width: auto;
  }

  .u-section-2 .u-text-9 {
    width: auto;
    margin-top: -95px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 10px;
  }

  .u-section-2 .u-text-11 {
    font-size: 6rem;
    width: auto;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-top: -95px;
  }

  .u-section-2 .u-text-13 {
    margin-top: 10px;
  }

  .u-section-2 .u-text-14 {
    font-size: 6rem;
    width: auto;
  }

  .u-section-2 .u-text-15 {
    width: auto;
    margin-top: -95px;
  }

  .u-section-2 .u-text-16 {
    margin-top: 10px;
  }

  .u-section-2 .u-text-17 {
    font-size: 6rem;
    width: auto;
  }

  .u-section-2 .u-text-18 {
    width: auto;
    margin-top: -95px;
  }

  .u-section-2 .u-text-19 {
    margin-top: 10px;
  }
}.u-section-3 {
  background-image: url("images/5ae9c49e-7cad-c9e5-2446-718a68ef0cdb.jpg");
  background-position: 50% 50%;
  min-height: 565px;
}

.u-section-3 .u-layout-wrap-1 {
  width: calc(((100% - 1140px) / 2) + 1140px);
  margin: 0 0 0 auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 599px;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: normal;
  font-weight: 700;
  font-family: Roboto, sans-serif;
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 80px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: normal;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  animation-duration: 1000ms;
  margin: 11px 0 0;
}

.u-section-3 .u-text-3 {
  font-size: 1.125rem;
  font-style: normal;
  animation-duration: 1000ms;
  margin: 25px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 11px auto 0 0;
  padding: 10px 52px 10px 51px;
}

.u-section-3 .u-image-1 {
  min-height: 599px;
  background-image: url("images/dich-vu-gia-su-o4uqqsl62y9t7gsribg699gakpfxb44ohp7rjsk0p4.png");
  background-position: 50% 50%;
  animation-duration: 1000ms;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 0 30px 40px;
}

@media (max-width: 1199px) {
  .u-section-3 {
    min-height: 361px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 940px) / 2) + 940px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 494px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-image-1 {
    min-height: 494px;
  }
}

@media (max-width: 991px) {
  .u-section-3 {
    min-height: 210px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: calc(((100% - 720px) / 2) + 720px);
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-text-2 {
    line-height: 1.4;
    font-size: 1.25rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 343px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 {
    min-height: 499px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 590px;
    margin-right: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    min-height: 532px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 {
    min-height: 302px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-3 .u-image-1 {
    min-height: 335px;
    background-position: 59.33% 50%;
  }
}.u-section-4 {
  background-image: url("images/unnamed2.png");
  background-position: 50% 50%;
  background-size: 115%;
}

.u-section-4 .u-sheet-1 {
  min-height: 564px;
}

.u-section-4 .u-text-1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-weight: 400;
  animation-duration: 1000ms;
  margin: 146px 1005px 0 0;
}

.u-section-4 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 3rem;
  animation-duration: 1000ms;
  margin: 20px 916px 0 0;
}

.u-section-4 .u-text-3 {
  line-height: 2;
  animation-duration: 1000ms;
  margin: 20px 656px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 60px;
    margin-right: 805px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 716px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 456px;
  }
}

@media (max-width: 991px) {
  .u-section-4 {
    background-size: 140%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 585px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 496px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 236px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 267px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 405px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 316px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 56px;
  }
}

@media (max-width: 575px) {
  .u-section-4 {
    background-size: auto 140%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 168px;
  }

  .u-section-4 .u-text-1 {
    margin-left: auto;
    margin-right: 205px;
  }

  .u-section-4 .u-text-2 {
    font-size: 2.25rem;
    width: auto;
    margin-left: auto;
    margin-right: 116px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 510px;
}

.u-section-5 .u-layout-wrap-1 {
  margin: 60px auto 60px 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 431px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-text-1 {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 30px 0 0;
}

.u-section-5 .u-text-2 {
  line-height: 1.8;
  font-size: 1rem;
  animation-duration: 1000ms;
  margin: 20px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  letter-spacing: 0px;
  font-size: 1rem;
  border-style: none;
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 20px auto 0 0;
  padding: 10px 52px 10px 51px;
}

.u-section-5 .u-image-1 {
  min-height: 390px;
  background-image: url("images/c7f3d4f36b72608ca89d1008b310bd80.jpg");
  background-position: 26.2% 50%;
  animation-duration: 1000ms;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px 31px 30px 30px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 355px;
  }

  .u-section-5 .u-btn-1 {
    width: 192px;
    height: 45px;
  }

  .u-section-5 .u-image-1 {
    min-height: 322px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 463px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-image-1 {
    min-height: 384px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 796px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    min-height: 617px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-right: 10px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 992px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-image-1 {
    min-height: 388px;
  }
}.u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 747px;
}

.u-section-6 .u-text-1 {
  font-size: 12.5rem;
  text-transform: uppercase;
  font-weight: 900;
  animation-duration: 1000ms;
  margin: 38px 34px 0;
}

.u-section-6 .u-text-2 {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  background-image: none;
  animation-duration: 1000ms;
  margin: -136px 375px 0 350px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 63px auto 39px 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 464px;
  animation-duration: 1000ms;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-text-3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 0 166px 0 0;
}

.u-section-6 .u-text-4 {
  margin: 19px 0 0;
}

.u-section-6 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 30px auto 0 0;
}

.u-section-6 .u-text-5 {
  margin: 6px 198px 0 0;
}

.u-section-6 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 30px auto 0 0;
}

.u-section-6 .u-text-6 {
  margin: 20px 180px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 428px;
}

.u-section-6 .u-container-layout-2 {
  padding: 30px;
}

.u-section-6 .u-form-1 {
  height: 395px;
  margin: 0 -60px 0 0;
}

.u-section-6 .u-form-group-1 {
  width: 100%;
}

.u-section-6 .u-form-group-2 {
  width: 100%;
}

.u-section-6 .u-form-group-3 {
  width: 100%;
}

.u-section-6 .u-form-group-4 {
  width: 100%;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 666px;
  }

  .u-section-6 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    margin-left: 250px;
    margin-right: 275px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 383px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 99px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 131px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 113px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 353px;
  }

  .u-section-6 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 383px;
  }

  .u-section-6 .u-text-1 {
    font-size: 9.375rem;
  }

  .u-section-6 .u-text-2 {
    width: auto;
    margin-top: -115px;
    margin-left: 140px;
    margin-right: 165px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 43px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-text-3 {
    margin-right: 26px;
  }

  .u-section-6 .u-text-5 {
    margin-right: 58px;
  }

  .u-section-6 .u-text-6 {
    margin-right: 40px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 100vh;
  }

  .u-section-6 .u-text-1 {
    font-size: 6.25rem;
    margin-top: 48px;
    margin-left: 43px;
    margin-right: 43px;
  }

  .u-section-6 .u-text-2 {
    margin-top: -88px;
    margin-left: 50px;
    margin-right: 75px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1089px;
  }

  .u-section-6 .u-text-1 {
    font-size: 4.5rem;
    margin-top: 43px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.25rem;
    margin-top: -59px;
    margin-right: 0;
  }

  .u-section-6 .u-text-3 {
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-6 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-6 .u-text-5 {
    margin-left: auto;
    margin-right: 0;
  }

  .u-section-6 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-6 .u-text-6 {
    margin-left: auto;
    margin-right: 0;
  }
}